root = yes

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
tab_width = 4

[*.{c,h,sh,py,yml,glsl,vert,tesc,tese,geom,frag,comp}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[{Makefile,GNUmakefile}]
indent_style = tab
trim_trailing_whitespace = true
